<html>
{% include('kamp/header.html.twig') %}
<body>
{% block body %}{% endblock %}
<h1>Create new kamp</h1>

{{ include('kamp/form.html.twig') }}
{% block javascripts %}{% endblock %}
</body>
</html>
