<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
<h1>Edit {{ kamp.title }}</h1>

{{ include('kamp/form.html.twig') }}
{% block javascripts %}{% endblock %}
</body>
</html>
